<a href="https://colab.research.google.com/github/23Aditya/PySpark/blob/main/PySpark_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=b7e9170696f23e00f56d8c0e4c5d53e101e822c84f851078426b2bd11eea4503
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
# While working with spark we have to first creat a SparkSession...
from pyspark.sql import SparkSession
import pandas as pd

In [ ]:
# spark=(SparkSession.builder.appName('Dataframes').getOrCreate())
spark = SparkSession.builder.appName("Sample_pyspark").getOrCreate()

In [ ]:
spark

## Create a DataFrame with Python

In [ ]:
data = [[1, "Elia"], [2, "Teo"], [3, "Fang"]]

pdf = pd.DataFrame(data, columns=["id", "name"])

df1 = spark.createDataFrame(pdf)
df2 = spark.createDataFrame(data, schema="id INT, name STRING")

In [ ]:
df1.show()

+---+----+
| id|name|
+---+----+
|  1|Elia|
|  2| Teo|
|  3|Fang|
+---+----+

In [ ]:
df2.show()

+---+----+
| id|name|
+---+----+
|  1|Elia|
|  2| Teo|
|  3|Fang|
+---+----+

## Load data into a DataFrame from files

In [ ]:
# df = (spark.read
#   .format("csv")
#   .option("header", "true")
#   .option("inferSchema", "true")
#   .load("/content/hcvdat0.csv")
# )

In [ ]:
joined_df = df1.join(df2, how="inner", on="id")

In [ ]:
joined_df.show()

+---+----+----+
| id|name|name|
+---+----+----+
|  1|Elia|Elia|
|  2| Teo| Teo|
|  3|Fang|Fang|
+---+----+----+

In [ ]:
unioned_df = df1.union(df2)

In [ ]:
unioned_df.show()

+---+----+
| id|name|
+---+----+
|  1|Elia|
|  2| Teo|
|  3|Fang|
|  1|Elia|
|  2| Teo|
|  3|Fang|
+---+----+

## Filter rows in a DataFrame

In [ ]:
filtered_df = joined_df.filter("id > 0")
filtered_df.show()
filtered_df = joined_df.where("id > 1")
filtered_df.show()

+---+----+----+
| id|name|name|
+---+----+----+
|  1|Elia|Elia|
|  2| Teo| Teo|
|  3|Fang|Fang|
+---+----+----+

+---+----+----+
| id|name|name|
+---+----+----+
|  2| Teo| Teo|
|  3|Fang|Fang|
+---+----+----+

## Select columns from a DataFrame

In [ ]:
select_df = df1.select("id", "name")
# subset_df = joined_df.filter("id > 1").select('name')

In [ ]:
select_df.show()

+---+----+
| id|name|
+---+----+
|  1|Elia|
|  2| Teo|
|  3|Fang|
+---+----+

In [ ]:
display(df1)

DataFrame[id: bigint, name: string]

In [ ]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
# df1.write.saveAsTable("<table-name>")

## Run SQL queries in PySpark

In [ ]:
from pyspark.sql.functions import expr

In [ ]:
df1 = display(df1.selectExpr("id", "upper(name) as big_name"))

DataFrame[id: bigint, big_name: string]

In [ ]:
# df1 = display(df1.selectExpr("id", "lower(name) as little_name"))