<a href="https://colab.research.google.com/github/23Aditya/PySpark/blob/main/PySpark_practice_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 16.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=9d5e7fcab97a4dfc1c62449c5175647cf04475ef6e11a6e3df274ec09dedf064
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [3]:
import pyspark
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Final_pocket_data.csv")

In [6]:
df.head()

,Unnamed: 0,New_BU_after_RE_org,Facility_International_Region,Job_Level,DATE,Attrition
0,0,Cloud and Cybersecurity Services,India,JM,2015-03-01,0.000000
1,1,Cloud and Cybersecurity Services,India,JM,2015-04-01,0.004425
2,2,Cloud and Cybersecurity Services,India,JM,2015-05-01,0.002179
3,3,Cloud and Cybersecurity Services,India,JM,2015-06-01,0.001992
4,4,Cloud and Cybersecurity Services,India,JM,2015-07-01,0.000000

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# While working with spark we have to first creat a SparkSession...
from pyspark.sql import SparkSession

In [9]:
spark=(SparkSession.builder.appName('Dataframes').getOrCreate())

In [10]:
spark

In [18]:
df = spark.read.csv("/content/drive/MyDrive/Final_pocket_data.csv",header = True,inferSchema= True)

In [19]:
df

DataFrame[_c0: int, New_BU_after_RE_org: string, Facility_International_Region: string, Job_Level: string, DATE: timestamp, Attrition: double]

In [20]:
df.show(5)

+---+--------------------+-----------------------------+---------+-------------------+--------------------+
|_c0| New_BU_after_RE_org|Facility_International_Region|Job_Level|               DATE|           Attrition|
+---+--------------------+-----------------------------+---------+-------------------+--------------------+
|  0|Cloud and Cyberse...|                        India|       JM|2015-03-01 00:00:00|                 0.0|
|  1|Cloud and Cyberse...|                        India|       JM|2015-04-01 00:00:00|0.004424778761061947|
|  2|Cloud and Cyberse...|                        India|       JM|2015-05-01 00:00:00|0.002178649237472767|
|  3|Cloud and Cyberse...|                        India|       JM|2015-06-01 00:00:00| 0.00199203187250996|
|  4|Cloud and Cyberse...|                        India|       JM|2015-07-01 00:00:00|                 0.0|
+---+--------------------+-----------------------------+---------+-------------------+--------------------+
only showing top 5 rows

In [21]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- New_BU_after_RE_org: string (nullable = true)
 |-- Facility_International_Region: string (nullable = true)
 |-- Job_Level: string (nullable = true)
 |-- DATE: timestamp (nullable = true)
 |-- Attrition: double (nullable = true)

In [15]:
from pyspark.sql.functions import col

In [16]:
text_column = df.select(df['New_BU_after_RE_org'],df['DATE'], df['Attrition'])

In [17]:
text_column.show(5)

+--------------------+----------+--------------------+
| New_BU_after_RE_org|      DATE|           Attrition|
+--------------------+----------+--------------------+
|Cloud and Cyberse...|2015-03-01|                 0.0|
|Cloud and Cyberse...|2015-04-01|0.004424778761061947|
|Cloud and Cyberse...|2015-05-01|0.002178649237472767|
|Cloud and Cyberse...|2015-06-01| 0.00199203187250996|
|Cloud and Cyberse...|2015-07-01|                 0.0|
+--------------------+----------+--------------------+
only showing top 5 rows

In [ ]:
# from pyspark.sql.functions import split

In [ ]:
# text_column = df.select(split(col("Attrition")," "))

In [ ]:
# text_column.show(truncate=True)

In [ ]:
# from pyspark.sql.functions import explode,lower

In [ ]:
# text_column = df.select(explode(col("DATE")))

In [ ]:
# type(df)

In [ ]:
# text_column = df.select(lower(col("New_BU_after_RE_org")))

In [ ]:
# text_column.show()

In [ ]:
# df = df.groupBy(col("Attrition"))

In [ ]:
# df

In [ ]:
# df = df.count()

In [ ]:
# df.show()

In [ ]:
df.select(*df.columns[1:6]).show(5)

+--------------------+-----------------------------+---------+----------+--------------------+
| New_BU_after_RE_org|Facility_International_Region|Job_Level|      DATE|           Attrition|
+--------------------+-----------------------------+---------+----------+--------------------+
|Cloud and Cyberse...|                        India|       JM|2015-03-01|                 0.0|
|Cloud and Cyberse...|                        India|       JM|2015-04-01|0.004424778761061947|
|Cloud and Cyberse...|                        India|       JM|2015-05-01|0.002178649237472767|
|Cloud and Cyberse...|                        India|       JM|2015-06-01| 0.00199203187250996|
|Cloud and Cyberse...|                        India|       JM|2015-07-01|                 0.0|
+--------------------+-----------------------------+---------+----------+--------------------+
only showing top 5 rows

In [ ]:
df = df.select("New_BU_after_RE_org","Facility_International_Region","DATE","Attrition")

In [ ]:
df.show(5)

+--------------------+-----------------------------+----------+--------------------+
| New_BU_after_RE_org|Facility_International_Region|      DATE|           Attrition|
+--------------------+-----------------------------+----------+--------------------+
|Cloud and Cyberse...|                        India|2015-03-01|                 0.0|
|Cloud and Cyberse...|                        India|2015-04-01|0.004424778761061947|
|Cloud and Cyberse...|                        India|2015-05-01|0.002178649237472767|
|Cloud and Cyberse...|                        India|2015-06-01| 0.00199203187250996|
|Cloud and Cyberse...|                        India|2015-07-01|                 0.0|
+--------------------+-----------------------------+----------+--------------------+
only showing top 5 rows

In [ ]:
import numpy as np

In [ ]:
chunk = np.array_split(np. array (df. columns), len(df. columns)//1)

In [ ]:
chunk

[array(['New_BU_after_RE_org'], dtype='<U29'),
 array(['Facility_International_Region'], dtype='<U29'),
 array(['DATE'], dtype='<U29'),
 array(['Attrition'], dtype='<U29')]

In [ ]:
type(chunk)

list

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
for x in chunk:
  df.select(*x).show(5)

+--------------------+
| New_BU_after_RE_org|
+--------------------+
|Cloud and Cyberse...|
|Cloud and Cyberse...|
|Cloud and Cyberse...|
|Cloud and Cyberse...|
|Cloud and Cyberse...|
+--------------------+
only showing top 5 rows

+-----------------------------+
|Facility_International_Region|
+-----------------------------+
|                        India|
|                        India|
|                        India|
|                        India|
|                        India|
+-----------------------------+
only showing top 5 rows

+----------+
|      DATE|
+----------+
|2015-03-01|
|2015-04-01|
|2015-05-01|
|2015-06-01|
|2015-07-01|
+----------+
only showing top 5 rows

+--------------------+
|           Attrition|
+--------------------+
|                 0.0|
|0.004424778761061947|
|0.002178649237472767|
| 0.00199203187250996|
|                 0.0|
+--------------------+
only showing top 5 rows

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# df.na.drop(how="any",thresh=2).show()  # thresh= 2  if we want to drop the row with 2 nan values 
# df.na.drop(how="any",subset=['Attrition']).show()  # subset=['Attrition']   we want to drop missing values in Attriation column
df.na.fill('Missing Values', [ 'Attrition', 'DATE' ]).show()  # replacing nan values in perticular column with ('Missing Values')

+--------------------+-----------------------------+----------+--------------------+
| New_BU_after_RE_org|Facility_International_Region|      DATE|           Attrition|
+--------------------+-----------------------------+----------+--------------------+
|Cloud and Cyberse...|                        India|2015-03-01|                 0.0|
|Cloud and Cyberse...|                        India|2015-04-01|0.004424778761061947|
|Cloud and Cyberse...|                        India|2015-05-01|0.002178649237472767|
|Cloud and Cyberse...|                        India|2015-06-01| 0.00199203187250996|
|Cloud and Cyberse...|                        India|2015-07-01|                 0.0|
|Cloud and Cyberse...|                        India|2015-08-01|0.001897533206831...|
|Cloud and Cyberse...|                        India|2015-09-01|0.001858736059479...|
|Cloud and Cyberse...|                        India|2015-10-01|0.001824817518248...|
|Cloud and Cyberse...|                        India|2015-11-01|0.001805054151624...|
|Cloud and Cyberse...|                        India|2015-12-01|0.001785714285714...|
|Cloud and Cyberse...|                        India|2016-01-01|                 0.0|
|Cloud and Cyberse...|                        India|2016-02-01|0.005338078291814947|
|Cloud and Cyberse...|                        India|2016-03-01|0.001760563380281...|
|Cloud and Cyberse...|                        India|2016-04-01| 0.01056338028169014|
|Cloud and Cyberse...|                        India|2016-05-01|0.001703577512776...|
|Cloud and Cyberse...|                        India|2016-06-01|0.004754358161648178|
|Cloud and Cyberse...|                        India|2016-07-01|  0.0060790273556231|
|Cloud and Cyberse...|                        India|2016-08-01|0.007363770250368188|
|Cloud and Cyberse...|                        India|2016-09-01|0.007288629737609329|
|Cloud and Cyberse...|                        India|2016-10-01|                 0.0|
+--------------------+-----------------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
# filter is use to filter usefull data
df.filter ("Attrition > 0.0" ).show()

+--------------------+-----------------------------+----------+--------------------+
| New_BU_after_RE_org|Facility_International_Region|      DATE|           Attrition|
+--------------------+-----------------------------+----------+--------------------+
|Cloud and Cyberse...|                        India|2015-04-01|0.004424778761061947|
|Cloud and Cyberse...|                        India|2015-05-01|0.002178649237472767|
|Cloud and Cyberse...|                        India|2015-06-01| 0.00199203187250996|
|Cloud and Cyberse...|                        India|2015-08-01|0.001897533206831...|
|Cloud and Cyberse...|                        India|2015-09-01|0.001858736059479...|
|Cloud and Cyberse...|                        India|2015-10-01|0.001824817518248...|
|Cloud and Cyberse...|                        India|2015-11-01|0.001805054151624...|
|Cloud and Cyberse...|                        India|2015-12-01|0.001785714285714...|
|Cloud and Cyberse...|                        India|2016-02-01|0.005338078291814947|
|Cloud and Cyberse...|                        India|2016-03-01|0.001760563380281...|
|Cloud and Cyberse...|                        India|2016-04-01| 0.01056338028169014|
|Cloud and Cyberse...|                        India|2016-05-01|0.001703577512776...|
|Cloud and Cyberse...|                        India|2016-06-01|0.004754358161648178|
|Cloud and Cyberse...|                        India|2016-07-01|  0.0060790273556231|
|Cloud and Cyberse...|                        India|2016-08-01|0.007363770250368188|
|Cloud and Cyberse...|                        India|2016-09-01|0.007288629737609329|
|Cloud and Cyberse...|                        India|2016-11-01|0.005571030640668524|
|Cloud and Cyberse...|                        India|2016-12-01|0.008771929824561403|
|Cloud and Cyberse...|                        India|2017-01-01| 0.00964630225080386|
|Cloud and Cyberse...|                        India|2017-02-01| 0.00946372239747634|
+--------------------+-----------------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- New_BU_after_RE_org: string (nullable = true)
 |-- Facility_International_Region: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- Attrition: string (nullable = true)

In [ ]:
df.columns

['New_BU_after_RE_org', 'Facility_International_Region', 'DATE', 'Attrition']

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler= VectorAssembler(inputCols=[ "DATE", "Attrition"] , outputCol="Final Feature ")

In [ ]:
# output = featureassembler.transform(df)

# output = featureassembler.transform(df)

IllegalArgumentException: ignored

In [ ]:
out